<% for (var i = 0; i < frm_data.length; i++) { %>



    <article class="col-block">
        
        <div class="item-entry" data-aos="zoom-in">
            <div class="item-entry__thumb">
                <a href="/wordsmith/single-standard.html" class="item-entry__thumb-link">
                    <img src="/wordsmith/images/thumbs/post/lamp-400.jpg" 
                         srcset="/wordsmith/images/thumbs/post/lamp-400.jpg 1x, images/thumbs/post/lamp-800.jpg 2x" alt="">
                </a>
            </div>

            <div class="item-entry__text">    
                <div class="item-entry__cat">
                    <a href="/wordsmith/category.html"><%= frm_data[i].title %></a> 
                </div>

                <h1 class="item-entry__title"><a href="/wordsmith/single-standard.html"><%= frm_data[i].description %></a></h1>
                    
                <div class="item-entry__date">
                    <a href="/wordsmith/single-standard.html">June 15, 2018</a>
                </div>
            </div>
        </div> <!-- item-entry -->

    </article> <!-- end article -->
                   <% }%> 