<!DOCTYPE html>
<html lang="en">

<head>
    <% include basic_partials/index_scripts %> 
    <% include research_partials/head %> 
</head>

<body>
  <% include basic_partials/index_header %> 
    <% include research_partials/scripts_bottom%> 

</body>

</html>
