<!DOCTYPE html>
<html lang="en">
<head>
	
		<% include partials/basicScripts.ejs %>
		
</head>
<body>
		<% include partials/menu_2 %>
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

					<form class="login100-form validate-form" action="/users/login" method="POST">
						<span class="login100-form-title p-b-34">
							Account Login
						</span>
						
						<div class="wrap-input100 rs1-wrap-input100">
								<div class="form-group">
										<label for="email">Email</label>
										<input
										  type="email"
										  id="email"
										  name="email"
										  class="form-control"
										  placeholder="Enter Email"
										/>
									  </div>
									  <div class="form-group">
										<label for="password">Password</label>
										<input
										  type="password"
										  id="password"
										  name="password"
										  class="form-control"
										  placeholder="Enter Password"
										/>
									  </div>
							  <button type="submit" class="btn btn-primary btn-block">Login</button>
								<p class="lead mt-4">No Account? <a href="/users/register">Register</a>
</p>	  
						</div>
	

					</form>
					


				<div class="login100-more" style="background-image: url('/images/bg-01.jpg');"></div>
			</div>
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
  <% include partials/bottomscripts.ejs %>


</body>
</html>