<meta charset="utf-8">
<title>The Last Machine</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- mobile specific metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/wordsmith/css/base.css">
<link rel="stylesheet" href="/wordsmith/css/vendor.css">
<link rel="stylesheet" href="/wordsmith/css/main.css">

<!-- script
================================================== -->
<script src="/wordsmith/js/modernizr.js"></script>

<!-- favicons
================================================== -->
<link rel="shortcut icon" href="/wordsmith/favicon.ico" type="image/x-icon">
<link rel="icon" href="/wordsmith/favicon.ico" type="image/x-icon">